services:
  api:
    build:
      context: .
    env_file:
      - .env
    command: uvicorn app.main:create_app --factory --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    depends_on:
      - postgres
      - redis

  worker:
    build:
      context: .
    env_file:
      - .env
    command: celery -A app.tasks.celery_app.celery worker -l info
    volumes:
      - ./:/app
    depends_on:
      - redis
      - postgres

  beat:
    build:
      context: .
    env_file:
      - .env
    command: celery -A app.tasks.celery_app.celery beat -l info
    volumes:
      - ./:/app
    depends_on:
      - redis
      - postgres

  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: nexo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres_data:

